/*------------------Body------------------------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #FAEBD7;
    scale: 1; /* Adjust as needed, due to my laptop screen size!*/
  }