/*-------------------chat-----------------------*/

/* Chat Container */
.chat-container {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 300px; /* Adjust as needed */
  margin: 0 auto;
  padding: 10px;
  max-height: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: relative; /* For absolute positioning of children */
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation for hover effect */
  overflow-y: auto;
  float: right;
  
}

.chat-container:hover {
  transform: translateY(-5px); /* Slight rise effect */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Deeper shadow on hover */
}

/* Header for the Chat with Welcome Message */
.chat-header {
  padding: 10px 20px; 
  border-bottom: 2px solid #ddd; 
  background-color: #f3f3f3; 
  font-size: 18px; 
  font-weight: bold; 
  color: #333;
  border-top-left-radius: 10px; /* Rounded corners */
  border-top-right-radius: 10px; /* Rounded corners */
}

/* Message Area Styling */
.message-area {
  height: 200px; /* Adjust as needed */
  overflow-y: auto;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 10px; /* Rounded corners */
  border-bottom-right-radius: 10px; /* Rounded corners */
}

/* Individual Message Styling */
.message {
  background-color: #f1f1f1;
  border-radius: 10px; /* More rounded edges for message bubbles */
  padding: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.message:hover {
  background-color: #e8e8e8; /* Lighter background on hover */
}

/* Input Field Styling */
.chat-input {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px; /* Rounded corners for input */
  border: 1px solid #ccc; /* Add border to input */
}

/* Send Button Styling */
.send-btn,
.send-selection-btn{
  width: calc(100% - 20px); /* Adjust width to account for padding */
  max-width: 200px; /* Set a maximum width for the button */
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px; /* More pronounced rounded edges for buttons */
  font-weight: bold;
  transition: all 0.3s ease; /* Animate all changes smoothly */
}

.exit-game-btn {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  max-width: 200px; /* Set a maximum width for the button */
  padding: 10px;
  margin-top: 10px;
  background-color: #D8401F;
  cursor: pointer;
  border: none;
  border-radius: 20px; /* More pronounced rounded edges for buttons */
  font-weight: bold;
  transition: all 0.3s ease; /* Animate all changes smoothly */
}

