
/* The check selection button! */
.checkester{
    background-color: #58d41e; /* Red */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    

}
.checkester:hover {
    background-color:#036d11;
}

.exit-game-btn:hover {
    background-color: #872000
    ;
}

/* Game grid styling */
.game-grid {
    border-collapse: collapse;
    width: 150%;
    max-width: 600px; /* Limits the size of the grid */
    margin: auto; /* Center the grid horizontally */
}
.grid-cell {
    cursor: pointer;
    transition: background-color 0.3s;
  }  



.game-grid td {
    border: 1px solid #ddd; /* Light grey border */
    padding: 8px;
    text-align: center;
    font-size: 18px;
    color: #333; /* Dark grey text color */
}

/* Hover effect for grid cells */
.game-grid td:hover {
    background-color: #f2f2f2; /* Light grey background */
}

/* Styles for grid container if any specific styling is needed */
.grid-container {
    background-color: #ece4e4; /* Light greyish white background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Subtle shadow around grid container */
    padding: 10px;
    width: 100%; /* Set a specific width */
    max-width: 600px; /* Maximum width limit */
    min-height: 400px; /* Minimum height to prevent too much shrinkage */
    overflow: hidden; /* Prevents content from spilling outside the container */
    margin: auto; /* Center align the container */
    display: block; /* Ensures the container is a block element, aiding in layout formatting */
}


/* Hide elements initially hidden and show them later via JavaScript */
.hidden {
    display: none;
}