/* Chat container styling */
.chat-container {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 300px; /* Adjust as needed */
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative; /* For absolute positioning of children */
  }
  
  /* Header for the chat with welcome message */
  .chat-header {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background: #e9e9e9;
  }
  
  /* Message area styling */
  #gameroom_messages {
    height: 200px; /* Adjust as needed */
    overflow-y: auto;
    padding: 5px;
    background: #fff;
    border: 1px solid #ddd;
  }
  .game-room {
    margin-bottom: 20px;
  }
  
  
  /* Individual message styling */
  .message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  /* Username label in message */
  .message{
    font-weight: bold;
  }

  .username {
    font-weight: bold;
  }
  
  /* Timestamp styling */
  .message .timestamp {
    font-size: 0.8em;
    color: #666;
  }
  
  /* Input field styling */
  .chat-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
  /* Send button styling */
  .send-btn {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }

  .send-selection-btn {
    width: 100%;
    padding: 10px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  
  .send-btn:hover {
    background-color: #e80;
  }
  .exit-game-btn {
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  
  /* Exit chat button styling */
  .exit-chat-btn {
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Positioning relative to the chat-container */
    right: 10px;
    top: 5px;
  }
  
  .exit-chat-btn:hover {
    background-color: #c9302c;
  }

  /* Message area styling */
  .message-area {
    height: 200px; /* Fixed height for scrollable area */
    overflow-y: auto; /* Enable scrolling */
    padding: 5px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ddd;
  }
