table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%; /* Adjust width as needed */
    border-radius: 10px;
    overflow: hidden; /* Ensures the rounded corners apply to table rows */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #04AA6D;
    color: white;
}
